<html>
                            <head>
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Vista Login</title>

                                <!--	Css  -->
                                <link href="static/css/css.css" rel="stylesheet">
                                <link href="static/css/icon.css" rel="stylesheet">
                                <link href="static/css/Login_bootstrap.min.css" rel="stylesheet">
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

                                <!--	js  -->
                                <!-- Need for Modals -->
                                    <script src="static/js/jquery.min.js"></script>
                                    <script src="static/js/Login_bootstrap.min.js"></script>

<style>
body {
    color: #000;
    overflow-x: hidden;
    background-color: #B0BEC5;
    background-repeat: no-repeat;
    width:auto;
    height:auto;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
    background-image: url("static/img/login.jpg");
    background-size:contain;
}

.card2 {
<!--    margin: 0px 40px-->
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}


.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}
:-ms-select-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-select-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

select,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

select:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}


button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color:lightseagreen;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}

</style>
                            </head>
                            <body>
                            <form action="/login" method="post">
                            <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-3 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-2 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Welcome to Vista</h6>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">User Name</h6>
                        </label> <input class="mb-4" type="text" name="username" autocomplete="off" placeholder="NTNET ID" required> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input class="mb-4" type="password" name="password" placeholder="Password" required> </div>

					<div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Account</h6>
								<select class="mb-4" value="{{ request.form.account }}" name="account" aria-placeholder="Accounts" required>
								  <option value="" selected disabled>Accounts</option>

								  {% for i in config_details['all_account'] %}
								  <option value="{{i}}">{{i}}</option>
								  {% endfor %}
							  	</select>
						</label>
					</div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Login</button> </div>
					<div class="row mb-2 px-3" data-target="#passreset" data-toggle="modal"> <small class="font-weight-bold">Forgot Password? <a class="text-success ">Click Here</a></small> </div>
<!--                    version 2, will enable it when we are going to release version 2-->
                    <div class="row mb-4 px-3" data-target="#register" data-toggle="modal"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Akshay Soni &copy; 2022. All rights reserved.</small>

            </div>
        </div>
    </div>
</div>

</form>
                            </body>

<body>
<form action="/raise_requests" method="post">
<div class="modal fade" id="passreset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <input type="hidden" name="request" value="reset_password">
							<p>Enter Your NTNET ID to Reset Password</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">


                                <div class="form-group">
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="text" class="form-control" placeholder="NTNET ID" name="username" autocomplete="off" required>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
</form>

<form class="pb-modalreglog-form-reg" action="/raise_requests" method="post">
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
							<p>Please Provide Details to Register</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">

                                <div class="form-group">
                                    <div id="pb-modalreglog-progressbar"></div>
                                </div>
								<div class="form-group">
                                    <input value="{{supported_domains}}"  id='supported_domains' type='hidden'>
                                    <input name="request" value="signup" type="hidden">
									<label>Account</label>
                                    <select class="" name="account" required>
											  <option value="{{request.form.account}}" name='account' selected disabled>Accounts</option>
											  {% for i in config_details['all_account'] %}
											  <option value="{{i}}">{{i}}</option>
											  {% endfor %}
										  </select>
								</div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" class="form-control" placeholder="Name" maxlength="100" autocomplete="off" name="name" required>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label>NTNET ID</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                        <input type="text" class="form-control" placeholder="NTNET ID" maxlength="10" autocomplete="off" name="username" required>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label>Email Address</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="email" class="form-control" autocomplete="off" placeholder="Official E-Mail Address" id='email' name="email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Justification</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="text" class="form-control" autocomplete="off" placeholder="Why You need to register?" id="justification" name='justification' required>
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label>Password</label>-->
<!--                                    <div class="input-group pb-modalreglog-input-group">-->
<!--                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>-->
<!--                                        <input type="password" class="form-control" placeholder="Password" id="password" value="{{request.form.password}}" name='password' title="Password must contain: Minimum 8 characters atleast 1 UpperCase, 1 LowerCase, 1 Number and 1 Special character" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label for="confirmpassword">Confirm password</label>-->
<!--                                    <div class="input-group pb-modalreglog-input-group">-->
<!--                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>-->
<!--                                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirmpassword" required>-->
<!--                                    </div>-->
<!--                                </div>-->

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
	</form>

<!--Change Password-->
<form  action="/raise_requests" method="post">
<div class="modal fade" id="cngpass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="hidden" name="request" value="change_password">
                            <input type="hidden" name="username" value="" >
							<p>Please Set Your New Password.</p>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                        <div class="modal-body">{{reset_ind}}
                            <input value="{{reset_ind}}"  id='reset_ind' type='hidden'/>
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="password" class="form-control" placeholder="Old Password" autocomplete="off" value="{{request.form.oldpassword}}" name="oldpassword" id="oldpassword">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="password" class="form-control" placeholder="New Password" value="{{request.form.newpassword}}" autocomplete="off" name="newpassword" id="newpassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$" title="Password must contain: Minimum 8 characters atleast 1 UpperCase, 1 LowerCase, 1 Number and 1 Special character" required>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                </div>
								<div class="form-group">
                                    <label>Confirm Password</label>
                                    <div class="input-group pb-modalreglog-input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password" value="{{request.form.confirmpassword}}" autocomplete="off" name="confirmpassword" id="confirmnewpassword">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" onclick="PassValidate()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
	</form>
<script type="text/javascript">
  var reset_ind = document.getElementById("reset_ind").value;
  var supported_domains = document.getElementById("supported_domains").value;
  console.log(reset_ind)
  console.log(supported_domains)
		if (reset_ind == 1){
		  $('#cngpass').modal('show');
		}

    function Validate() {
		var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
		var email = document.getElementById("email").value.toLowerCase();

		if (email.match(mailformat))
		{
<!--            validEmails = ['abc.com'] &lt;!&ndash;You can add more with comma separated if required&ndash;&gt;-->
			var val = email.split('@').pop();
			if (supported_domains.includes(val))
			{
			    return true
			}
			else{
				alert("Please enter your official Email.");
				return false
			}

		}
		else
		{
			alert("You have entered an invalid email address!");
			return false
		}
	}

	function PassValidate() {
        var password = document.getElementById("newpassword").value;
        var confirmPassword = document.getElementById("confirmnewpassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
	}



</script>

{% include 'Alerts.html' %}
{% block body1 %}
<script>
    var btn = document.getElementById('myBtn');
    var errbtn = document.getElementById("errBtn");
<!--		Message Modal Pop Up-->
		{% with messages = get_flashed_messages(category_filter=["message"]) %}
			{% if messages %}
				{%- for message in messages %}
					btn.click();
				{% endfor -%}
			{% endif %}
		{% endwith %}

<!--		Error Modal Pop Up-->
		{% with errors = get_flashed_messages(category_filter=["error"]) %}
			{% if errors %}
				{%- for error in errors %}
					errbtn.click();
				{% endfor -%}
			{% endif %}
		{% endwith %}

	</script>
</body>
</html>
{% endblock %}
